<div class="container">
  <div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-3">
      <form id="formAddTask">
        <div class="input-group">
          <input type="text" id="textNewTask" class="form-control" autocomplete="off" placeholder="Add a task" autofocus required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-plus"></i></button>
          </span>
        </div>
      </form>
      <span class="taskDif taskHard">Hard</span> <span class="taskDif taskMedium">Medium</span> <span class="taskDif taskEasy">Easy</span> <span class="taskDif taskTrivial">Trivial</span>
    </div>
  </div>
</div>

<div class="container" id="containerTasks">
  {{#each data}}
    <div class="row rowTask pt-2 pb-2">
      <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-8">        
        <p class="taskName mb-0" id="{{id}}" ondblclick="checkTheTask(id)">{{text}} </p><p class="taskDif task{{dificultad priority}} mb-2">{{dificultad priority}}</p> 
        <p class="noteTask mb-0">{{notes}}</p>
        {{#each checklist}}
        <div class='checkbox ml-2'>
          <label class='nombreSubtarea verticalAlign mb-1'>
            <input id="{{id}}" type='checkbox' {{#if completed}}checked{{/if}}> <!--onclick='checkboxCheckedFunction(value,name)'>-->
            <span class="small ml-1">{{text}}</span>
          </label>
        </div>
        {{/each}}
      </div>

      <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
        <i class='fa fa-plus action-buttons'></i>
      </div>
      <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
        <i class='fa fa-pencil-square-o action-buttons' onclick="editTask('{{id}}')"></i>
      </div>
      <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
        <i class='fa fa-trash action-buttons' onclick="deleteTask('{{id}}')"></i>
      </div>
      <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 text-center">
        <i class='fa fa-arrows-v action-buttons'></i>
      </div>

    </div>
  {{/each}}
</div>